{
    "root": true,
    "env": {
        "mocha": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "markdown",
        "promise"
    ],
    "extends": [
        "recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:json/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0
    }
}
