.project
.settings
.classpath
.metadata
.externalToolBuilders
node_modules/
coverage/
.nyc_output/
.github/
docs/
bin/**
local.properties
.loadpath
dump.rdb
.mocharc.json
.prettierignore
.releaserc.json
jsdoc.conf
updateVersion.sh