services:
  nodesdk:
    container_name: dstack-nodesdk
    volumes:
      - ..:/usr/share/rtldev-middleware-node-sdk:cached
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
