name: Dependabot auto-merge & tests
on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  tests:
    uses: centralnicgroup-opensource/rtldev-middleware-shareable-workflows/.github/workflows/auto-merge-dependabot-pr.yml@main
    secrets: inherit
    with:
      repository: ${{ github.repository }}